@model SAUU.Data.Entities.Persona

@{
    ViewData["Title"] = "Borrar";
}

<div class="page-header">
    <h1><i class="fa fa-bar-chart-o page-header-icon"></i>@ViewData["Title"]</h1>
</div> <!-- / .page-header -->


<h3>Esta seguro que desea borrar esta Persona</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombrePersona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombrePersona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.apellidoPersona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apellidoPersona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idTipoPersona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idTipoPersona)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.direccionPersona)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.direccionPersona)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="idPersona" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Cancelar</a>
    </form>
</div>
