@model SAUU.Models.ModuloViewModel

@{
    ViewData["Title"] = "Detalle";
}

<div class="page-header">
    <h1>
        <i class="fa fa-address-card page-header-icon"></i>
        <a asp-action="Index">Modelos </a> > @ViewData["Title"]
    </h1>
</div>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreModulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreModulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idModulo" class="btn btn-info btn-labeled">Editar</a> |
    <a asp-action="Index" class="btn btn-labeled btn-success">Ir atras</a>
</div>
