@model SAUU.Data.Entities.Estado

@{
    ViewData["Title"] = "Borrar";
}

<div class="page-header">
    <h1><i class="fa fa-bar-chart-o page-header-icon"></i>@ViewData["Title"]</h1>
</div> <!-- / .page-header -->


<h3>Esta seguro que desea borrar este estado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombreEstado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombreEstado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.colorEstado)
        </dt>
        <dd class="col-sm-10">
            <span class="label ticket-label" style="background-color:@Model.colorEstado;">@Model.colorEstado</span>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="idEstado" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-labeled btn-primary">Cancelar</a>
    </form>
</div>
